.form-inputs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.btn-strip {
    background-color: transparent;
    border: none;
}

.back-btn {
    grid-column: 1/-1;
    justify-self: end;
}

.label {
    display: grid;
    gap: .5rem;
}

.label input {
    font-size: inherit;
    padding: 1rem;
}

.profession-label {
    grid-column: 1/-1;
}

.next-btn {
    grid-column: 1/-1;
    justify-self: end;
    padding: 1rem 2rem;
    border-radius: 50vh;
}

.label_work-date {
    grid-row: 4;
}

.add-skill-btn {
    display: flex;
    align-items: center;
    grid-row: 3;
    justify-self: end;
}

.add-skill-btn_icon svg {
    width: 1.5em;
}

.form-inputs-container_summary {
    grid-template-columns: 1fr;
}

.summary-input {
    width: 100%;
    height: 20em;
    border: 1px solid;
    outline: none;
    padding: 1em 1.5em;
    max-width: 30rem;
    margin: auto;
    overflow-x: hidden;
}