.form-inputs-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.btn-strip {
    background-color: transparent;
    border: none;
}

.back-btn {
    grid-column: 1/-1;
    justify-self: end;
}

.label {
    display: grid;
    gap: .5rem;
}

.label input {
    font-size: inherit;
    padding: 1rem;
}

.profession-label {
    grid-column: 1/-1;
}

.label_work-date {
    grid-row: 4;
}

.validate {
    position: relative;
}

.validate.error {
    color: hsl(0, 98%, 40%);
}

.validate.error input {
    border: 2px solid hsl(0, 98%, 40%);
    box-sizing: border-box;
}

.error-message {
    position: absolute;
    top: calc(100% + .3em);
    font-size: .7rem;
    font-weight: 600;
    display: none;
}

.validate.error .error-message {
    display: initial;
}

.form-field-btns {
    grid-column: 1/-1;
    grid-row: 4;
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 100%;
}

.add-job-btn {
    justify-self: end;
}

.add-btn_icon svg,
.btn-icon svg {
    width: 1.5em;
}

.skills-list {
    display: grid;
    gap: 1rem;
}

.skills-item {
    display: flex;
    gap: 1rem;
}

.skills-item .label {
    flex: 1;
}

.add-skill-btn {
    grid-row: 3;
}

.form-inputs-container_summary {
    grid-template-columns: 1fr;
}

.summary-input {
    width: 100%;
    height: 20em;
    border: 1px solid;
    outline: none;
    padding: 1em 1.5em;
    max-width: 30rem;
    margin: auto;
    overflow-x: hidden;
}

.btn-disable {
    pointer-events: none;
    opacity: .3;
}

.cards {
    margin-bottom: 2rem;
    margin-inline: auto;
    max-width: var(--_max-form-width);
}

.card-list {
    display: grid;
    gap: 1rem;
}

.card {
    border: 1px solid;
    padding-block: 1.5em 1em;
    padding-inline: 2em 1em;
    border-radius: 10px;
}

.card-header {
    display: flex;
    margin-bottom: .5rem;
}

.card-title {
    flex: 1;
    font-size: 1.2rem;
    font-weight: 600;
}

.card-btn_edit {
    margin-right: 1rem;
}

.edit-form {
    margin-block: 2rem;
    display: grid;
    gap: 1.5rem;
}

.edit-btns {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.save-edit-btn,
.cancel-edit-btn {
    padding: 1rem 2rem;
    border-radius: 50vh;
}

.add-more-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: transparent;
    border-style: dashed;
    border-radius: 10px;
}