:root {
    --clr-primary: hsl(0, 0%, 100%);
    --clr-secondary: hsl(248, 39%, 39%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    font-size: inherit;
    color: inherit;
    cursor: pointer;
}

main {
    --_nav-margin: .5rem;
    --_prog-bar-offset: calc(100% + (var(--_nav-margin)*2));
}

.main-header {
    display: grid;
    justify-items: center;
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
}

.main-header-logo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

 .logo-plus {
    font-size: .8rem;
    font-weight: 800;
    padding-inline: .3em;
    color: var(--clr-secondary);
    background-color: var(--clr-primary);
    position: relative;
    top: 1em;
    border-radius: .5em 0;
 }

.navbar {
    margin-bottom: var(--_nav-margin);
}

.progress-list {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
    gap: 2rem;
    counter-reset: item;
}

.progress-list-item {
    display: grid;
    justify-content: center;
    position: relative;
}

.progress-btn {
    background-color: transparent;
    border: none;
}

.progress-line {
    display: grid;
    justify-items: center;
    align-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    left: 50%;
    top: var(--_prog-bar-offset);
    transform: translateX(-50%);
    color: var(--clr-secondary);
    background: var(--clr-primary);
    border: 2px solid var(--clr-secondary);
    border-radius: 50%;
}

.progress-btn.active .progress-line,
.progress-btn.done .progress-line {
    color: var(--clr-primary);
    background-color: var(--clr-secondary);
}

.progress-line::before {
    counter-increment: item;
    content: counter(item);
}

.progress-btn.done:not(.active) .progress-line::before {
    content: '✓';
}

.progress-list-item:not(:last-child) .progress-line::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 6em;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--clr-secondary);
    z-index: -1;
    pointer-events: none;
}

@media (max-width: 600px) {
    .progress-list {
        gap: 1rem;
    }

    .progress-btn {
        font-size: .7rem;
    }

    .label input {
        min-width: 10rem;
    }
}

@media (min-width: 900px) {
    main {
        display: grid;
        grid-template-columns: max-content 1fr;
        min-height: 100svh;
    }

    .main-header {
        display: block;
        padding: 2rem 1rem;
    }

    .progress-list {
        grid-auto-flow: row;
        margin-top: 3rem;
    }

    .progress-btn {
        width: 0;
        height: 2rem;
        overflow: hidden;
    }

    .progress-line {
        top: 0;
        border-color: var(--clr-primary);
    }
    .progress-list-item:not(:last-child) .progress-line::after {
        width: 0;
    }
}

@media (min-width: 1200px) {
    .progress-list-item {
        justify-content: start;
    }

    .progress-btn {
        width: auto;
        margin-right: 3rem;
        justify-content: start;
    }

    .progress-line {
        left: calc(100% - 1rem);
    }
}

.form-section {
    --_max-form-width: 900px;
    margin-block: 6rem 4rem;
    padding-inline: 1rem;
}

.direction-btn-container {
    display: flex;
    justify-content: end;
    max-width: var(--_max-form-width);
    margin: auto;
}

.form-container {
    margin: auto;
    max-width: var(--_max-form-width);
}

.back-btn {
    margin-bottom: 2rem;
}

.next-btn {
    grid-column: 1/-1;
    justify-self: end;
    padding: 1rem 2rem;
    border-radius: 50vh;
    margin-top: 2rem;
}